name: Prettier 
on:
  pull_request:
    branches:
      - '*'
jobs:

  prettier:
    name: prettier
    runs-on:
      - ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn install
      - name: Prettier 
        run: CI=false yarn run prettier:check 

