name: Eslint 
on:
  pull_request:
    branches:
      - "*"
jobs:
  eslint:
    name: eslint
    runs-on:
      - ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn install
      - name: Eslint
        run: yarn run lint

